
/*TAG ELEMENT SELECTOR*/
h1{
    background-color: pink;
     
}
ul{
    background-color: silver;
}

/*ID BASED SELECTION*/
#first{
    background-color: brown;
}
#second{
    background-color: bisque;
}

/*USE OF CLASS : can be used for grouping*/
.third{
    background-color: blue;
}

/*GROUP BASED SELECTION*/
h1 , .third , #first{
    background-color: cadetblue;
}
h1{
    background-color: rgb(58, 154, 112);
}
h2{
    background-color: hsl(110, 50%, 30%,)
 }/* /*hsl(hue:the color, saturation:intensity or vibrancy, lightness:brightness)*/


 /*pixel size depend on the screen */
ul{
    font-size: 20px
}
li{
    font-size: lem;
}

html{
    font-size: 40px;
}
h2{
    font-size:2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    font-style:italic;
}
li{
    font-size:5vh;
    font-size:50%;
}

/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: #ffffff;
    padding: 25px;
}

/* Main heading */
h1 {
    text-align: center;
    color: #ff4500;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* Section headings */
h2 {
    color: #00ffcc;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Unordered lists */
ul {
    background-color: #1f1f1f;
    padding: 15px 25px;
    border-left: 5px solid #ff4500;
    margin-bottom: 15px;
}

/* List items */
li {
    padding: 5px 0;
}

/* Ordered list */
ol {
    margin-top: 8px;
    margin-left: 25px;
}

/* Ordered list items */
ol li {
    color: #cccccc;
}


