
TAG ELEMENT SELECTOR
h1{
    background-color: pink;
     height: 200px;
    width: 300px;
    background-color: khaki;
    color: rgb(66, 12, 175);
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
    text-transform: capitalize;
}
ul{
    background-color: silver;
}

/*ID BASED SELECTION*/
/*#first{
    background-color: brown;
}
#second{
    background-color: bisque;
}*/

/*USE OF CLASS : can be used for grouping*/
/*.third{
    background-color: blue;
}*/

/*GROUP BASED SELECTION*/
/*h1 , .third , #first{
    background-color: cadetblue;
}*/
/*h1{
    background-color: rgb(58, 154, 112);
}
h2{
    background-color: hsl(110, 50%, 30%,)
 }/* /*hsl(hue:the color, saturation:intensity or vibrancy, lightness:brightness)*/


 /*pixel size depend on the screen */
ul{
    font-size: 20px
}
li{
    font-size: lem;
}

html{
    font-size: 40px;
}
h2{
    font-size:2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    font-style:italic;
}
li{
    /*font-size:5vh;*/
    font-size:50%;
}

 


