/*
TAG ELEMENT SELECTOR
h1{
    background-color: pink;
}
ul{
    background-color: silver;
}*/

/*ID BASED SELECTION*/
/*#first{
    background-color: brown;
}
#second{
    background-color: bisque;
}*/

/*USE OF CLASS : can be used for grouping*/
/*.third{
    background-color: blue;
}*/

/*GROUP BASED SELECTION*/
/*h1 , .third , #first{
    background-color: cadetblue;
}*/
h1{
    background-color: rgb(58, 154, 112);
}
h2{
    background-color: hsl(110, 50%, 30%);
}


