
/*TAG ELEMENT SELECTOR
h1{
    background-color: pink;
     
}
ul{
    background-color: silver;
}*/

/*ID BASED SELECTION*/
/*#first{
    background-color: brown;
}
#second{
    background-color: bisque;
}*/

/*USE OF CLASS : can be used for grouping*/
/*.third{
    background-color: blue;
}*/

/*GROUP BASED SELECTION*/
/*h1 , .third , #first{
    background-color: cadetblue;
}*/
/*h1{
    background-color: rgb(58, 154, 112);
}
h2{
    background-color: hsl(110, 50%, 30%,)
 }/* /*hsl(hue:the color, saturation:intensity or vibrancy, lightness:brightness)*/


 /*pixel size depend on the screen 
ul{
    font-size: 20px
}
li{
    font-size: lem;
}

html{
    font-size: 40px;
}
h2{
    font-size:2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    font-style:italic;
}
li{
    /*font-size:5vh;*/
   /* font-size:50%;
}

/*

/* Apply to whole page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

/* Main heading */
h1 {
    text-align: center;
    color: #2c3e50;
}

/* Section headings */
h2 {
    color: #1e8449;
    margin-top: 20px;
}

/* Unordered list styling */
ul {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
}

/* Ordered list styling */
ol {
    margin-top: 5px;
}

/* List items */
li {
    margin: 6px 0;
    color: #333;
}

/* Nested list items */
ul li ol li {
    color: #555;
}


 


