*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    height:200px;
    width:800px;
    ;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap:5px;
}
.box{
    background-color: darksalmon;

}
img{
    height: 100%;
    width: 100%;
}