.container{
    height:400px;
    width:400px;
    font-size: 50px;
    background-color: aquamarine;
}
@media screen and(max-width:600px){
    .container{
        height:300px;
        width:300px;
        background-color: coral;
        font-size: 30px;
    }
}