.container{
    height:400px;
    width:400px;
    font-size: 50px;
    background-color: aquamarine;
}

/*@media screen and (max-width:900px){
    .container{
        background-color: green;
        font-size: 40px;
    }
}
@media screen and (max-width:600px){
    .container{
        height:300px;
        width:300px;
        background-color: coral;
        font-size: 30px;
    }
}*/
@media screen and (min-width:600px){
    .container{
        background-color: chartreuse;
        font-size: 60px;
    }
}
@media screen and (min-width:900px){
    .container{
        background-color: goldenrod;
        font-size: 80px;
    }
}