*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
 

}
.white{
    background-color:rgb(233, 233, 227);
}
.brown{
    background-color: rgb(48, 21, 1);
}