*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
}
.container{
    height:800px;
    width:800px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:5px;
    padding:10px;

}
.box{
    background-color: rgb(93, 176, 227);

}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.Sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.Content1{
    grid-column-start: 2;
    grid-column-end: 4;

}
.Content2{
    grid-column-start: 2;
    grid-column-end: 3;

}
.Content3{
    grid-column-start: 3;
    grid-column-end: 4;

}
