*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;

}
body{
    background-color: black;
}
.container{
    display:grid;
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr;/*if we write200px,200px then it can overlow*/
    gap: 10px;
    height:400px;
    width:400px;
    background-color: aqua;


}
.first{
    background-color: brown;
}
.second{
    background-color: chocolate;
}
.third{
    background-color: cornflowerblue;
}
.fourth{
    background-color: darkseagreen;
}