*{
    padding:0;
    margin:0;

}
body{
    background-color: black;
}
.container{
    display:flex;
    background-color: cadetblue;
    padding:5px;
    gap:5px;

}
.box{
    height: 300px;
    width: 200px;

}
.first{
    background-color: bisque;
}
.second{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.child{
    height: 140px;
    background-color: red;
}
