#container{
    background-color: yellow;
    height: 200px;
    width:300px;
    position:relative;
}
#box1{
    background-color: rgb(16, 13, 222);
    position:absolute;
    height: 80px;
    width: 80px;
    

}
#box2{
    background-color:  rgb(16, 13, 222);
    height: 80px;
    width: 80px;
    position:absolute;
    bottom:1px;


}

#box3{
    background-color: rgb(16, 13, 222);
    position:absolute;
    height:80px;
    width:180px;
    right:0px;

    
}

#box4{
    background-color: rgb(16, 13, 222); 
    position:absolute;
    height:80px;
    width: 180px;
    right:0px;
    bottom:0px;

    
}