h1{
    background-color: indianred;
    height: 300px;
    width: 300px;

   /* border-width: 5px;
    border-style: dashed;
    border-color: rgb(17, 18, 15) ;*/
    /*above three statement can be written in one line only*/

    border: 10px solid rgb(9, 16, 9);
    /*padding: 40px;*/
    padding: 10px 20px 30px 40px;
    margin: 30px;
}
h2{
    background-color: beige;
    border: 2px dotted black;
}
p{
    background-color: darkkhaki;
    padding: 20px;
    border: 5px solid black;
    margin: 15px;
}
