
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.first{
    background-color: rgb(232, 15, 51);
    border-radius: 10px;
    
    width:400px;
    
}
h1{
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;

}
label{
    font-size: 25px;
    font-weight: 500;
}
input{
    font-size: 20px ;
    width:100%;
    height:30px;
    padding:10px;

}
