/**{
    margin:0px;
    padding:0px;
}
h1{
    background-color: burlywood;
}
/*cascading style sheet
priority wise:
1. inline CSS( in case ofd external and internal ordering matters)
2. id
3. class
4. tag(h1,h2)
5. ordering important(tie)

*/
/*.class{
    background-color: rgb(7, 7, 7);
}
#firstid{
    background-color: coral;
}
li{
    background-color: goldenrod;
}

h1{
    background-color: blue;/*ordering matters
}*/
h2{
    background-color: darkgoldenrod;
    position: relative;
    left: 100px;
   /* top: 50px;*/

}
h3{
    background-color: moccasin;
    position: fixed; /*with fixed the bar will fixed to its own position even on scrolling*/
    top: 0px;
    left:50px;
   
}
h4{
    background-color: rgb(189, 147, 107);
    position: sticky;/*if we want the tab to be stick on that place when we scrool down*/
    top: 0px;   
}
p{
    background-color: lightcoral;
    position: absolute;/*left its space and can fix according to the ancestor position*/
    left: 50px;
    top: 0px;
    z-index: 10;
}